{% extends "base.html" %}
{% block head %}
{{ super() }}


<meta id="sensor_type" data-sensortype="{{ sensor_type }}">
<meta id="chart_info" data-chart_info="{{ chart_info }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.0/chartjs-plugin-zoom.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js"></script>

{% endblock %}

{% block content %}
<span class="pull-left">
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="row">
            {% for sensor in sensors %}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                {{ sensor }}
                <p id="par-{{ sensor }}" style="display: inline;"></p>
                <div class="chart-container" style="position: relative; margin: 0 auto;">
                    <canvas name="charts" id="chart-{{ sensor }}"></canvas>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</span>

<script type="text/javascript">
    const backend_port = 8000;
    const base_url = "{{ prefix }}"; // this string will be replaced by a variable set in the python programme
    const sensor_type = $('#sensor_type').data("sensortype");
    charts = {};

    function update_chart(chart_id, current_chart_info) {
        const unit = current_chart_info.unit;
        const sensor_names = current_chart_info.sensor_names
        let this_morning = moment().format("YYYY-MM-DDT00:00:00");
        const day = 60 * 60 * 24;
        // Not much point in asking for more data than pixels across the chart
        // Some data will be missing 
        const canvas_width = charts[chart_id].canvas.width;
        var url = base_url + "/API/JSON/" + sensor_type + "?" + new URLSearchParams(
            {
                start_time: this_morning,
                "duration": day,
                "cnt": canvas_width
            }
        );
        sensor_names.forEach(element => {
            url += "&" + new URLSearchParams({ "q": element })
        });
        const this_morning_moment = moment(this_morning);
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                if (current_chart_info.chart_type === "line") {
                    charts[chart_id].data.datasets = [];
                    charts[chart_id].data.labels = data["timestamps"];
                }
                Object.keys(data["measurements"]).forEach(key => {
                    if (current_chart_info.chart_type === "polar") {
                        let timestamps = data["timestamps"];
                        let angles = data["measurements"][key];
                        let new_data = []
                        for (i = 0; i < timestamps.length; i++) {
                            let r = moment.duration(moment(timestamps[i]).diff(this_morning_moment)).as("hours");
                            let x = r * Math.sin(Math.PI / 180. * angles[i]);
                            let y = r * Math.cos(-Math.PI / 180. * angles[i]);
                            new_data.push({ x: x, y: y });
                        }
                        charts[chart_id].data.datasets[0].data = new_data;

                        const w = charts[chart_id].canvas.width;
                        const h = charts[chart_id].canvas.height;
                        charts[chart_id].canvas.parentNode.style.height = Math.min(w, h);
                        charts[chart_id].canvas.parentNode.style.width = charts[chart_id].canvas.parentNode.style.height;
                    }
                    else {
                        charts[chart_id].data.datasets.push({
                            data: data["measurements"][key],
                            label: key,
                            pointRadius: 0,
                            borderWidth: 1
                        });

                    }
                });

                let latest_value;
                if (data["measurements"].length > 1) {
                    let latest_data = data["measurements"][current_chart_info.representitive_sensor];
                    latest_value = latest_data[latest_data.length - 1];
                }
                else {
                    let latest_data = data["measurements"][current_chart_info.sensor_names[0]];
                    for (let i = latest_data.length - 1; i >= 0; i--) {
                        latest_value = latest_data[i];
                        if (latest_value !== null)
                            break;
                    }
                }

                document.getElementById("par-" + chart_id).innerText = "(" + latest_value + (unit ? " " + unit : "") + ")";

                charts[chart_id].update();
            });
    }
    function init_chart(sensor_name, current_chart_info) {
        const max_ticks_limit = 5;
        const ctx = document.getElementById("chart-" + sensor_name);
        let this_morning = moment().format("YYYY-MM-DDT00:00:00");
        charts[sensor_name] = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{ data: [], label: sensor_name, pointRadius: 0, borderWidth: 1 }],
                labels: [],
            },
            options: {
                scales: {
                    x: {
                        type: "timeseries",
                        ticks: {
                            maxTicksLimit: max_ticks_limit,
                        },
                        grid: {
                            display: current_chart_info.chart_type === "line",
                        },

                    },
                    y: {
                        beginAtZero: current_chart_info.begin_at_zero,
                        grid: {
                            display: current_chart_info.chart_type === "line",
                        },
                    }

                },
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    },
                },
                animation: {
                    duration: 0
                }
            }
        });
        if (current_chart_info.chart_type === "line") {
            charts[sensor_name].data.datasets = [{ data: [], label: sensor_name, pointRadius: 0, borderWidth: 1 }];
            charts[sensor_name].data.labels = [];
            charts[sensor_name].options.scales.x.min = moment(this_morning);
            charts[sensor_name].options.scales.x.max = moment(this_morning).add(1, "days");
            charts[sensor_name].update();
        }
        else {
            charts[sensor_name].options.scales.x.type = 'linear';
            charts[sensor_name].options.scales.x.min = -24;
            charts[sensor_name].options.scales.x.max = 24;
            charts[sensor_name].options.scales.y.min = -24;
            charts[sensor_name].options.scales.y.max = 24;
            charts[sensor_name].options.scales.x.display = false;
            charts[sensor_name].options.scales.y.display = false;

            const w = charts[sensor_name].canvas.width;
            const h = charts[sensor_name].canvas.height;
            charts[sensor_name].canvas.parentNode.style.height = 0.9 * Math.min(w, h) + "px";
            charts[sensor_name].canvas.parentNode.style.width = charts[sensor_name].canvas.parentNode.style.height;
            // Draw concentric circles
            let radii = [8, 16, 24];
            let circle_rad8 = [];
            for (let i = 0; i <= 360; i += 5) {
                circle_rad8.push({ x: 8 * Math.cos(i * Math.PI / 180.), y: 8 * Math.sin(i * Math.PI / 180.) });
            }

            let circle_rad16 = [];
            circle_rad8.forEach((val) => { circle_rad16.push({ x: val.x * 2, y: val.y * 2 }); });

            let circle_rad24 = [];
            circle_rad8.forEach((val) => { circle_rad24.push({ x: val.x * 3, y: val.y * 3 }); });

            charts[sensor_name].data.datasets = [
                { data: [], pointRadius: 0, borderWidth: 1, borderColor: '#9BD0F5FF' },
                { data: circle_rad8, pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: circle_rad16, pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: circle_rad24, pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: [{ x: -24, y: 0 }, { x: 24, y: 0 }], pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: [{ x: 0, y: -24 }, { x: 0, y: 24 }], pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: [{ x: -24 * Math.SQRT1_2, y: -24 * Math.SQRT1_2 }, { x: 24 * Math.SQRT1_2, y: 24 * Math.SQRT1_2 }], pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
                { data: [{ x: -24 * Math.SQRT1_2, y: 24 * Math.SQRT1_2 }, { x: 24 * Math.SQRT1_2, y: -24 * Math.SQRT1_2 }], pointRadius: 0, borderWidth: 1, borderColor: 'rgba(0,0,0,0.2)' },
            ];
            charts[sensor_name].update();

        }


    }
    const chart_info = $('#chart_info').data("chart_info");

    function init_all_charts() {
        for (const property in chart_info) {
            init_chart(property, chart_info[property]);
            update_chart(property, chart_info[property]);
        };
    }
    function update_all_charts() {
        for (const property in chart_info) {
            update_chart(property, chart_info[property]);
        }
    }

    const minute = 1000 * 60;
    init_all_charts();
    for (const property in chart_info) {
        setInterval(update_chart, minute * 5, property, chart_info[property]);
    }
</script>
{% endblock %}